html {
    --main-bg-color: #0B2447;
    --text-color: white;
    --card-color: #19376D;
    --elements-color: #576CBC;
    font-family: 'Roboto', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
  }

.main {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    padding: 10px 250px;
}

.header {
    text-align: center;
    margin: 0 auto;
}

.wrapper {

}

.weather-card {
    width: 500px;
    background-color: var(--card-color);
    margin: 50px auto;
    border-radius: 20px;
}

.weather-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.weather-card-search {
    width: 30px;
}

.weather-card-image {
    display: flex;
    margin: auto;
}

.weather-card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.footer {
    text-align: center;
    margin: 0 auto;
}